<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main3.css">
    <title>AddBlog</title>
</head>
<body>

    <div class="container" > 
        <nav class="nav-bar">
            <img src="../logo.png" id="logo" alt="">
            <a href="/allBlogs">Home</a>
            <a href="/allBlogs">All blogs</a>
            <a href="#">About Us</a>
            <div class="profile">
                <img src="<%=image%>" id="prof-img" alt="">
                <p><%= name  %></p>
            </div>
            
        </nav>
    </div>

    <div class="form-container">  
        <h1 class="heading1">Create Your Travel Blog</h1>
        <div class="form"> 
            <form action="/addBlog" method="POST" enctype="multipart/form-data">
                <input type="text" id="title" name="title" required placeholder="Enter your Blog title">
                <br>
                <input type="text" id="content" name="content" required placeholder="Enter your Blog content">
                <br>
                <input type="text" id="author" name="author" required placeholder="Enter your author name">
                <br>
                <input type="file" id="image" name="image" accept="image/*" required>
                <br>            
                <input type="submit" value="Add-Blog" id="addBlog">
            </form>
    </div>

    </div>

    <div class="added-blogs">
        <h1>All Added blogs </h1>
        <div class="card">  
            <%  blogs.forEach(b => { %>
                <div  id="<%=b.id %>" class="blog-content">
                    <img src="<%=b.imagePath %>" alt="" id="blog-img">
                    <div class="headers">  
                        <h2><%=b.title %></h2>
                        <p> <%=b.content %></p>
                        <h4> Blog Author: <%=b.author %></h4>
                        <div class="cta">
                            <a href="#" id="editBlog"> Edit Blog</a>
                            <a href="#" id="deleteBlog"> Delete Blog</a>
                        </div>
                        
                    </div>
                    
                </div>
            <% }) %>
        </div>
    </div>


</body>
</html>