<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main3.css">
    <script src="/add_blog.js" defer></script>
    <title>AddBlog</title>
</head>
<body>

    <div class="container" > 
        <nav class="nav-bar">
            <img src="../logo.png" id="logo" alt="">
            <a href="/allBlogs">Home</a>
            <a href="/allBlogs">All blogs</a>
            <a href="#">About Us</a>
            <div class="profile">
                <img src="<%=image%>" id="prof-img" alt="">
                <p><%= name  %></p>
            </div>
            
        </nav>
    </div>

    <div class="form-container">  
        <h1 class="heading1">Create Your Travel Blog</h1>
        <div class="form"> 
            <form action="/addBlog" method="POST" enctype="multipart/form-data">
                <input type="text" id="title" name="title" required placeholder="Enter your Blog title">
                <br>
                <textarea id="content" name="content" rows="21" cols="95" required placeholder="Enter your Blog content"></textarea>
                <!-- <input type="text" id="content" name="content" required placeholder="Enter your Blog content"> -->
                <br>
                <input type="text" id="author" name="author" required placeholder="Enter your author name">
                <br>
                <input type="file" id="image" name="image" accept="image/*" required>
                <br>            
                <input type="submit" value="Add-Blog" id="addBlog">
            </form>
    </div>

    </div>


    <div class="added-blogs">
        <h1>All Added blogs </h1>
        <div class="card">  
            <%  blogs.forEach(b => { %>
                <div  id="card-<%=b.id %>" class="blog-content">
                    <img src="<%=b.imagePath %>" alt="" id="blog-img">
                    <div class="headers">  
                        <h2><%=b.title %></h2>
                        <p> <%=b.content %></p>
                        <h4> Blog Author: <%=b.author %></h4>
                        <div class="cta">
                            <a href="#" id="editBlog"> Edit Blog</a>
                            <a href="#" class="delete-blog" id="deleteBlog" data-blogid="<%= b.id %>">Delete Blog</a>
                        </div>                        
                    </div>                    
                </div>
            <% }) %>
        </div>
    </div>


    <footer class="foot">
        <img src="../logo.png" alt="">

        <div class="about-us">
            <p>Travler is your ultimate online destination for all things travel. Founded in 2016 by a group of passionate globetrotters, this website has since become a trusted resource for wanderers, adventurers, and travel enthusiasts worldwide.
            </p>
        </div>

        <div class="links">
            <h3>Quick Links</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & conditions </a>
            <a href="#">Services </a>

        </div>
    </footer>


</body>
</html>